# Dependencies
node_modules/

# Build Output
dist/
build/
coverage/

# Environment Variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Runtime
*.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini